@*Import the model*@
@model WellNote.Models.User;
@model WellNote.Models.Sleep;

@{
    ViewData["Title"] = "Sleep Log";
}

<h1>Log Your Sleep Duration</h1>

<form asp-action="Sleep" method="post">
    <div class="form-group">
        <label for="username">Logging Day</label>
        <input type="datetime" asp-for="@Model.Sleep.DateTime" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" asp-for="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-group">Login!</button>
</form>
